<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
						  
                          <h1>{% trans %}French Guiana as seen by the ERS radar satellite {% endtrans %}</h1>
						  
						  <div id="slider1"><img src="{{asset('DEBUT-L-Bilingue.jpg')}}"/></div>
						  
                          <p>{% trans %}The production of the original CD ROM was carried out in 2002 by the Francilien Institute of Geosciences at the University of Marne la Vallée (today since 2020, UGE, Gustave Eiffel University), with the support of ESRIN, establishment of ESA in Italy ( authors :J.P. Rudant, N. Classeau, H.Trébossen).{% endtrans %}</p>
						  
                          <p>{% trans %}The transformation into a website was carried out in 2021, by J.P. Rudant of UGE, with the technical support of the company VERTIGEO based at ENSG in Marne la Vallée.{% endtrans %}</p>
                          <p>{% trans %}The objective of the site is to enhance the capabilities of satellite radar images to meet broad needs in the field of general and thematic cartography. The themes dealt with correspond to projects relating to the updating of existing maps and the production of new cartographic products. They mainly relate to actions carried out, using ERS images from ESA, in French Guiana. The revisiting capabilities independent of cloudy conditions enjoyed by radar satellites are particularly suited to this type of application, particularly in a humid tropical context, as is the case for Guiana.{% endtrans %}</p>

                          <p>{% trans %}NOTE: Today is 2021 and ESA has launched other radar satellites since 1991 (ENVISAT in 2002, Sentinel1 in 2015) which has greatly expanded the range of C-band radar data; with improvements relating to spatial coverage, available polarizations, multi-incidence capabilities, temporal repeatability. These improvements, certainly important, do not make the applications carried out with ERS obsolete. On the contrary, knowing that the more recent images guarantee results at least equivalent to those obtained with ERS, for a given application. The increase in international supply is also proving to be significant, which generally amplifies the potential of radar images and at the same time increases the interest in being able to appreciate them at their true value.{% endtrans %}</p>

                          
        </div>                                
    </div>
</div>
<a href="{{path('main')}}" style='font-size:24px; float: left;margin-left: 20px;'><span class='fa fa-arrow-left' style='margin-right: 20px;'></span>{% trans %}Previous{% endtrans %}</a>
<a href="{{path('chapters',{chapter:'general_intro'})}}" style='font-size:24px; float: right; margin-right: 20px;'>{% trans %}Next{% endtrans %}<span class='fa fa-arrow-right'></span></a>
