<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
                    
                          <h1>{% trans %}General Introduction {% endtrans %}</h1>
						 <p></p>
						  <div id="slider1"><img src="{{asset('ajout/1-introgene/carte_bilingue_ avec_amerika.jpg')}}"/></div>
						  <p></p>
                          <p>{% trans %}The purpose of this web site is to introduce the general properties of radar imagery from Earth Observation satellites, and to provide concrete examples of their use. To do so, data acquired fromthe ERS•1 and ERS•2 -the European Remote Sensing Satellites of ESA over the territory of French Guiana from 1991 onwards, were used. ERS•1 and ERS•2 were both launched from the Space Center in Kourou in 1991 and 1995, respectively. The web site consists of four parts, namely:{% endtrans %}</p>
                          <ul>
                          <li><p>{% trans %}Part 1 -‘A few words about radar images'. It is an introduction to the properties of the radar imagery and it displays portions of satellite images and photographs for correlation purposes.This step is completed by more technical information on acquisition mode and the properties of the images presented in the form of a short animation.{% endtrans %}</p></li>
                          <li><p>{% trans %}Part 2 - 'Thematic Cartography'. It shows in detail what kind of information can be extracted from radar images for application in domains like environment, geology, land use and planning.{% endtrans %}</p></li>
                          <li><p>{% trans %}Part 3 -'Nautical charts updating'. It highlights the potential of ERS SAR data to monitor coastal phenomena, to generate or update existing maps, and to support river estuary navigation.{% endtrans %}</p></li>
                          <li><p>{% trans %}Part 4 -'General land cartography'. It deals with the generation of satellite-derived maps, or space maps, and geographic information updating. These applications are made possible by the ERS SAR and can help improve the authorities understanding of land cover in tropical, humid regions.{% endtrans %}</p></li>
                          </ul>
                          <div id="slider1"></div>
        </div>                                
    </div>
</div>
<a href="{{path('chapters',{chapter:'About'})}}" style='font-size:24px; float: left;margin-left: 20px;'><span class='fa fa-arrow-left' style='margin-right: 20px;'></span>{% trans %}Previous{% endtrans %}</a>
<a href="{{path('chapters',{chapter:'img_radar'})}}" style='font-size:24px; float: right; margin-right: 20px;'>{% trans %}Next{% endtrans %}<span class='fa fa-arrow-right'></span></a>
{% block javascript %}
<script>
  $(document).ready(
    function main(){
        getImages('intro/currently_used_for_intro','slider1');
    });
</script>
{% endblock %}