<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
						  
                          <h1>{% trans %}French Guiana as seen by the ERS radar satellite {% endtrans %}</h1>
						  
						  <div id="slider1"><img src="{{asset('ADEBUT-L.jpg')}}"/></div>
						  
                          <p>{% trans %}The contents of the Original CD-ROM were prepared by the Institut Francilien des Geosciences de l'Universite de Marne la Vallee, (now Universite Gustave Eiffel since 1/1/2020) , France, with the technical consultancy and support of ESA ESRIN in Frascati, Italy.{% endtrans %}</p>
						  
                          <p>{% trans %}The transformation into a website was carried out by the VERTIGEO company based at ESNG in Marne la Vallée under the leadership of J.P. Rudant, from UGE, in 2021.{% endtrans %}</p>
                          <p>{% trans %}The objective was to demonstrate the capacity of spaceborne radar to meet the requirements of general as well as thematic cartography. Themes were selected based on ongoing projects being developed using ESA's ERS SAR (Synthetic Aperture) data. They all reflected the need to update existing maps and to obtain new cartographic products. The ability of SAR to operate in all weather conditions. at day and nighttime, makes this type of data particularly suitable to the specific application. With the advent of the ENVISAT satellite in March 2002. it will be possible to obtain SAR views taken from different incidence angles and in various polarisation modes. This will result in an increased capacity of the instrument for cartographic applications.{% endtrans %}</p>

                          
        </div>                                
    </div>
</div>
<a href="{{path('chapters',{chapter:'general_intro'})}}" style='font-size:24px; float: right; margin-right: 20px;'>{% trans %}Next{% endtrans %}<span class='fa fa-arrow-right'></span></a>
